[package]
name = "tiktoken"
version = "0.3.3"
edition = "2021"
rust-version = "1.57.0"

[lib]
name = "_tiktoken"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.17.3", features = ["extension-module"] }

# tiktoken dependencies
fancy-regex = ">=0.7.1"
regex = "1.7.0"
rustc-hash = "1.1.0"
bstr = ">=0.2.17"

[profile.release]
incremental = true
