include *.svg
include *.toml
include *.md
exclude yarn.lock
include Makefile
global-include py.typed
recursive-include scripts *.py
recursive-include tests *.py
recursive-include core *.rs *.toml
recursive-include python *.rs *.toml
recursive-exclude jni *
recursive-exclude java *
recursive-exclude js *
recursive-exclude wasm *
recursive-exclude static *
recursive-exclude .changeset *
recursive-exclude scripts *.ts *.json
include tiktoken *.json